<nav class="navbar">
    <div class="navbar__inner container">
        <a href="/" class="logo">Logo</a>
        <button class="navbar__button" aria-label="Open menu">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M3 18v-2h18v2Zm0-5v-2h18v2Zm0-5V6h18v2Z"/></svg>
        </button>
        <div class="navbar__collapse">
            <ul class="menu">
                <li>
                    <a class="navText" href="/">Home</a>
                </li>
                <li>
                    <a class="navText" href="/new">Create post</a>
                </li>
                <li>
                    <a class="navText" href="/register">Register</a>
                </li>
                <li>
                    <a class="navText" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>